<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <a href="/"><i class="fas fa-code"></i> Portfolio</a>
    </div>
    <div class="nav-menu" id="navMenu">
      <a href="/" class="nav-link active">Home</a>
     <a href="{{ site.baseurl }}/about/">About</a>
<a href="{{ site.baseurl }}/projects/">Projects</a>
      <a href="{{ site.baseurl }}/contact/">Contact</a>
    </div>
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
